/* Global variables */
:root {
  --primary-black: rgb(27, 27, 27);
  --secondary-black: rgb(35, 35, 35);
  --primary-white: rgb(243, 243, 243);
  --secondary-white: rgb(222, 222, 222);
  --light-gray: rgb(192, 192, 192);
  --dark-gray: rgb(70, 70, 70);

  --default-border-radius: 12px;

  /* Spacing Variables */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;
  --space-5: 128px;
}

/* Light theme styles */
.light-theme {
  --primary-color: rgb(91, 151, 255);
  --secondary-color: rgb(255, 67, 67);
  --comlpementary-color: rgb(91, 151, 255);
  --background-color: var(--primary-white);
  --secondary-background: var(--secondary-white);
  --text-color: var(--primary-black);
  --secondary-text: var(--secondary-black);
  --btn-text-color: var(--primary-white);
  --btn-background-color: var(--primary-black);
  --btn-hover-color: var(--dark-gray);
  --standar-gray: var(--light-gray);
}

/* Dark theme styles */
.dark-theme {
  --primary-color: rgb(255, 67, 67);
  --secondary-color: rgb(91, 151, 255);
  --comlpementary-color: rgb(255, 67, 67);
  --background-color: var(--primary-black);
  --secondary-background: var(--secondary-black);
  --text-color: var(--primary-white);
  --secondary-text: var(--secondary-white);
  --btn-text-color: var(--primary-black);
  --btn-background-color: var(--primary-white);
  --btn-hover-color: var(--light-gray);
  --standar-gray: var(--dark-gray);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3 {
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-style: normal;
}
.card {
  transition: background-color 0.5s ease;
}

.text-gradient {
  width: fit-content;
  background: -webkit-linear-gradient(
    -45deg,
    var(--secondary-color),
    var(--comlpementary-color)
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    -45deg,
    var(--secondary-color) 40%,
    var(--comlpementary-color)
  ); 
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Make the text itself transparent so the gradient shows through */
}

.shadow3d {
  text-shadow: calc(var(--space-1) * 0.4) calc(var(--space-1) * 0.4) 0px
      rgb(255, 95, 95),
    calc(var(--space-1) * -0.4) calc(var(--space-1) * -0.4) 0px
      rgb(107, 151, 255);
  -webkit-text-fill-color: var(
    --secondary-text
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 0.1rem var(--secondary-background);
}

.text-stroke {
  -webkit-text-fill-color: var(
    --secondary-background
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 0.1rem var(--secondary-text);
}

.special-text {
  font-weight: bold;
}
