/* Global variables */
:root {
  --primary-color: #0088ff;
  --secondary-color: #ff0000;
  --comlpementary-color: #0bffff;
  --primary-black: #1b1b1b;
  --secondary-black: #232323;
  --primary-white: #f3f3f3;
  --secondary-white: #dedede;

  --default-border-radius: 16px;

  /* Spacing Variables */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 32px;
  --space-4: 64px;
  --space-5: 128px;
}

/* Light theme styles */
.light-theme {
  --background-color: var(--primary-white);
  --secondary-background: var(--secondary-white);
  --text-color: var(--primary-black);
  --secondary-text: var(--secondary-black);
  --btn-text-color: var(--primary-white);
  --btn-background-color: var(--primary-black);
  --btn-hover-color: var(--secondary-black);
}

/* Dark theme styles */
.dark-theme {
  --background-color: var(--primary-black);
  --secondary-background: var(--secondary-black);
  --text-color: var(--primary-white);
  --secondary-text: var(--secondary-white);
  --btn-text-color: var(--primary-black);
  --btn-background-color: var(--primary-white);
  --btn-hover-color: var(--secondary-white);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3 {
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-style: normal;
}
.card {
  transition: background-color 0.5s ease;
}

.text-gradient {
  background: -webkit-linear-gradient(
    -10deg,
    var(--secondary-color),
    var(--comlpementary-color)
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    -10deg,
    var(--secondary-color),
    var(--comlpementary-color)
  ); /* Standard syntax; */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Make the text itself transparent so the gradient shows through */
}
